.main-card {
 margin: 0px;
}

.divider {
  margin: 10px;
}

.info-h3 {
  margin: 10px;
}

.time-input-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.time-input-margin {
  margin: 10px;
}

.button-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.button-section div:last-child {
  align-self: flex-end;
}

.button-margin {
  margin-left: 10px;
}

.name-section {
  display: flex;
  align-content: center;
  align-items: flex-end;
}

.preview-tracker {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.progress-bar {
  margin: 0 10px;
}
