<ng-container *ngIf="!timeInput || !videoEndTime">
    <mat-spinner></mat-spinner>
  </ng-container>
  <mat-card class="theme-card">
    <mat-card-header>
      <mat-card-title>Clip Maker</mat-card-title>
      <mat-card-subtitle>Set the start and end times to preview your clip</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="timeInput" (ngSubmit)="submit()">
          <h3 class="info-h3">Enter clip start time</h3>
          <div class="time-input-section" formGroupName="startTime">
            <mat-form-field class="time-input-margin">
              <input matInput type="number" min="0" placeholder="Minutes" (keydown)="onKeyDown($event)" formControlName="minutes" [errorStateMatcher]="confirmValidParentMatcher" (blur)="save()">
              <mat-error *ngIf="timeInput.hasError('invalidStartMinutes')">
                Start time cannot begin after the clip end time
              </mat-error>
              <mat-error *ngIf="timeInput.get('startTime.minutes').hasError('required')">
                Start minutes is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="time-input-margin">
              <input matInput type="number" max="59" min="0" placeholder="Seconds" (keydown)="onKeyDown($event)" formControlName="seconds" [errorStateMatcher]="confirmValidParentMatcher" (blur)="save()">
              <mat-error *ngIf="timeInput.hasError('invalidStartSeconds') && !timeInput.get('startTime.seconds').hasError('required')">
                Start time cannot begin after the clip end time
              </mat-error>
              <mat-error *ngIf="timeInput.get('startTime.seconds').hasError('required')">
                Start seconds is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="time-input-margin">
              <input matInput type="number" max="999" min="0" placeholder="Milliseconds" (keydown)="onKeyDown($event)" formControlName="ms" [errorStateMatcher]="confirmValidParentMatcher" (blur)="save()">
              <mat-error *ngIf="timeInput.hasError('invalidStartMs') && !timeInput.get('startTime.ms').hasError('required')">
                Start time cannot begin after the clip end time
              </mat-error>
              <mat-error *ngIf="timeInput.get('startTime.ms').hasError('required')">
                Start milliseconds is required
              </mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button class="button-margin" color="accent" (click)="getCurrentTime('startTime')">Get Current Time</button>
          <div class="divider">
            <mat-divider></mat-divider>
          </div>
          <br>
          <h3 class="info-h3">Enter clip end time</h3>
          <div class="time-input-section" formGroupName="endTime">
            <mat-form-field class="time-input-margin">
              <input matInput type="number" min="0" placeholder="Minutes" (keydown)="onKeyDown($event)" formControlName="minutes" [errorStateMatcher]="confirmValidParentMatcher" (blur)="save()">
              <mat-error *ngIf="timeInput.hasError('invalidEndMinutes') && !timeInput.get('endTime.minutes').hasError('required')">
                Clip end time cannot begin after the video end time
              </mat-error>
              <mat-error *ngIf="timeInput.get('endTime.minutes').hasError('required')">
                End minutes is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="time-input-margin">
              <input matInput type="number" max="59" min="0" placeholder="Seconds" (keydown)="onKeyDown($event)" formControlName="seconds" [errorStateMatcher]="confirmValidParentMatcher" (blur)="save()">
              <mat-error *ngIf="timeInput.hasError('invalidEndSeconds') && !timeInput.get('endTime.seconds').hasError('required')">
                Clip end time cannot begin after the video end time
              </mat-error>
              <mat-error *ngIf="timeInput.get('endTime.seconds').hasError('required')">
                End seconds is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="time-input-margin">
              <input matInput type="number" max="999" min="0" placeholder="Milliseconds" (keydown)="onKeyDown($event)" formControlName="ms" [errorStateMatcher]="confirmValidParentMatcher" (blur)="save()">
              <mat-error *ngIf="timeInput.hasError('invalidEndMs') && !timeInput.get('endTime.ms').hasError('required')">
                Clip end time cannot begin after the video end time
              </mat-error>
              <mat-error *ngIf="timeInput.get('endTime.ms').hasError('required')">
                End milliseconds is required
              </mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button class="button-margin" color="accent" (click)="getCurrentTime('endTime')">Get Current Time</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <section class="button-section">
        <button mat-raised-button class="button-margin" color="accent" (click)="previewClip()">Preview</button>
        <button mat-raised-button class="button-margin" color="accent" (click)="submit()">Save</button>
        <div>
          <form [formGroup]="nameInput">
            <mat-form-field>
              <input matInput type="text" placeholder="Clip Name" formControlName="clipName" (blur)="save()">
            </mat-form-field>
          </form>
        </div>
      </section>
    </mat-card-actions>
  </mat-card>
  <script src="popup.js"></script>